name: Tests
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
    branches:
      - master
      - develop
jobs:
  test_frontend:
    name: Pruebas del frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./front-end/tutorial-canciones

    strategy:
      matrix:
        node-version: [ 14.x ]

    steps:
      - uses: actions/checkout@v2
      - name: Usar Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Instalar dependencias
        run: npm ci
      - name: Ejecutar pruebas
        run: npm run test
        
  backend-tests:
    name: Pruebas del backend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./flaskr/

    steps:
      - name: Checkout de repositorio
        uses: actions/checkout@v2
      - name: Configuracion de entorno de python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Instalación de librerías y dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Ejecutar pruebas
        run: python -m unittest discover -s tests -v
